@media only screen and (max-width: 480px) {
    .hide-on-mobile {
        display: none;
    }  
}

@media screen and (min-width: 480px) {
    .other-mobile{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

.container-fluid{
    background-color: white;
}

.dimension {
    max-width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h5, p {
    text-align: center;

}
